<select (change)="onChange($event.target.value)" class="button" [class.light]="isLight">
  <option *ngIf="isFilter" value="0" [selected]="!selected">*** All Tasks ***</option>
  <option *ngFor="let category of categories" [value]="category" [selected]="selected === category">
    {{ category }}
  </option>
</select>