/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #426b93;
  --color-primary-light: #ecf0f4;
}

body {
  margin: 0;
}

app-root {
  // height: 100vh;
  // overflow: hidden;
  // display: flex;
  // flex-direction: column;
  // div.main {
  //   // flex-grow: 1;
  //   height: calc(100vh - 56px);
  //   display: flex;
  //   flex-direction: row;
  //   > * {
  //     height: 100%;
  //   }
  //   app-todo-list {
  //     width: 270px;
  //     flex-grow: 0;
  //   }
  //   app-todo-detail {
  //     width: 100%;
  //     flex-grow: 1;
  //   }
  // }
}

button, .button {
  background-color: var(--color-primary);
  color: white;
  height: 32px;
  border: none;
  border-radius: 2px;;
  margin: 0 2px;
  padding: 0 8px;
  font-family: Times;
  font-kerning:none;
  font-size: 14px;
  text-transform :uppercase;
  letter-spacing: 0.84px;
  line-height: 32px;
  outline: none;
  cursor: pointer;

  &.light {
    color: black;
    background-color: white;
    &:hover {
      opacity: 100%;
      background-color: #f7f7f7;
    }
  }
  &:hover {
    opacity: 90%;
  }
  ion-icon {
    vertical-align: middle;
  }
}

ion-fab-button {
  background-color: var(--color-primary);
  border-radius: 50%;
  ion-icon {
    color: white;
  }
}

// app-todo-detail {
//   // note styling is here to stop shadow dom preventing style being applied when contenteditable="true"
//   .note {
//     font-size: 1.4rem;
//     font-weight: bold;
//     > *:first-child {
//       margin: 16px 0 0 0;
//     }
//     * {
//       margin: 8px 0;
//       font-size: 1rem !important;
//       font-weight: normal;
//     }
//   }
// }