div {
  display: inline-block;
  border: 1px solid black;
  background-color: white;
  color: white;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 24px;
  &.checked {
    background-color: var(--color-primary);
  }
}
