::ng-deep .note {
  padding: 28px 16px;
  outline: none;
  background-color: var(--color-primary-light);
  min-height: calc(100% - 56px);
  font-size: 1.4rem;
  font-weight: bold;
  > *:first-child {
    margin: 16px 0 0 0;
  }
  * {
    margin: 8px 0;
    font-size: 1rem !important;
    font-weight: normal;
  }
}

app-checkbox {
  float: left;
  margin: 16px 8px 0 16px;
}