<ion-toolbar>
  <ion-buttons slot="start">
    <app-categories-button [selected]="task.category" (selectedChange)="onSelectCategory($event)" light></app-categories-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <button fill="solid" (click)="save()">
      <ion-icon slot="icon-only" name="save-outline"></ion-icon>
    </button>
    <button (click)="delete()">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <app-checkbox [state]="isDone" (stateChange)="onDone($event)"></app-checkbox>
  <div class="note" contenteditable="true" #note>
    {{ noteInitialContent.label }}
    <p *ngFor="let item of noteInitialContent.descriptionArray">{{ item }}</p>
  </div>

</ion-content>