<div class="main" [class.task-open]="isTaskOpen">
  <app-task-list></app-task-list>
  <router-outlet></router-outlet>
</div>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="primary" (click)="newTask()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
