div.main {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: row;
  > * {
    height: 100%;
  }
  app-task-list {
    width: 270px;
    flex-grow: 0;
  }
  ::ng-deep router-outlet + * {
    width: 100%;
    flex-grow: 1;
  }
}