<ion-toolbar>
  <ion-buttons slot="start">
    <app-categories-button [selected]="filter" (selectedChange)="onSelectFilter($event)" filter></app-categories-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let task of taskList" (click)="select(task)" [class.done]="task.done"
      [class.selected]="selectedId === task.id">
      <ion-label>
        <h2>{{ task.label }}</h2>
        <p>{{ task.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>