ion-list {
  padding: 0;
}

ion-item {
  cursor: pointer;
  &.selected {
    --background: var(--color-primary-light);
  }
  &.done ion-label {
    opacity: 50%;
    p {
      text-decoration: line-through;
    }
  }
}